.microApps_container {
    width: 100%;
    height: 540px;
    border: 1px solid #ccc;

}


.scale {
    overflow: hidden;
    position: relative;
    top: -35%;
    left: -15%;
    width: 1626px;
    height: 800px;
    transform: scaleX(0.5) scaleY(0.5);
}