.mainPage-top {
    background-color: rgba(7, 7, 7, 0.87);
    height: 60px;
    color: aliceblue;
    display: flex;
}

.mainPage-top h2 {
    padding: 0 10px;
    margin-left: 50px;
    line-height: 60px;
    flex: 3;
}


.mainPage-top a {
    flex: 1;
    color: aliceblue;
    text-align: center;
    align-items: center;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none
}

.gitHubImg {
    height: 60px;
    cursor: pointer;
}